<% ideas.each do |idea| %>
  <div class="well" style="padding-bottom: 0px;">
    <%= render partial: 'ideas/overview', locals: {i: idea} %>
  </div>
  <hr>
  <div class="text-center">
    <%= link_to_modal "New Idea", new_idea_path, :class => "btn" %>
  </div>
<% end %>
