<% relationships.each do |r| %>
  <%= link_to relationship_path(r), class: "btn btn-full" do %>
    <div class="text-left">
      <%= render partial: 'relationships/overview', locals: {r: r} %>
    </div>
  <% end %>
<% end %>
