<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 text-left">
      <h3><%= r.title %></h3>
      <div class="relationship-text">
        <p><%= r.name %></p>
        <p><%= r.description %></p>
      </div>
    </div>
    <div class="span2">
      
    </div>
  </div>
</div>
